# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs
# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
tab_width = 2

# IntelliJ specific settings
ij_continuation_indent_size = 4
ij_smart_tabs = false
ij_visual_guides = 80, 120
ij_wrap_on_typing = false

# Markdown files
[*.md]
trim_trailing_whitespace = false
