*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Local
.docker_volume/
tmp/
temp/
tmp.*

# ZSH
**/.zsh_history
**/.zcompdump

# ZSH Plugins
/zsh/plugins/*
!/zsh/plugins/.zsh_plugins

# ZSH Themes
/zsh/themes/*
!/zsh/themes/.zsh_theme
!/zsh/themes/p10k/
!/zsh/themes/p10k/.p10k.zsh
